@import "../../styles/theme.scss";

.footer {
  padding: $padding-l;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__copy {
    display: inline-block;
    font-family: $quicksand;
    font-size: $font-size-s;
    margin: 0;
  }
  @media #{$tablet-screen} {
    text-align: center;
  }
  @media #{$phone-screen} {
    flex-direction: column;
    align-items: center;
  }
}
