@import "./styles/theme";

.html {
  @media #{desktop-screen} {
    font-size: 12px;
  }
}

.app {
  align-items: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  @media #{$tablet-screen} {
    width: 85%;
  }
  @media #{$phone-screen} {
    width: 95%;
  }
}
