@import "../../styles/theme";

.categories-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &__tutorial {
    padding-top: $padding-m;
  }
  @media #{$phone-screen-wide} {
    .grid {
      grid-template-columns: auto;
      gap: $padding-s;
    }
  }
}
