@import "../../styles/theme.scss";

.header {
  align-items: center;
  display: flex;
  padding: $padding-m;
  @media #{$phone-screen-small} {
    padding-left: $padding-s;
    &__logo-container {
      display: inline-block;
    }
    &__logo {
      width: 14rem;
    }
    &__go-back {
      margin-top: 0.75rem;
      width: 2.5rem;
    }
  }
}
